/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */

/* 
#2d2d2d Background
#393939 Current Line
#515151 Selection
#cccccc Foreground
#999999 Comment
#f2777a Red
#f99157 Orange
#ffcc66 Yellow
#99cc99 Green
#66cccc Aqua
#6699cc Blue
#cc99cc Purple */


body.hl {
  background-color: #2d2d2d;
 }

/* std: standard / no recognition */
pre.hl {
  display: block;
  overflow-x: auto;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
  font-size:14px; 
  font-family:'Courier New',monospace;
  font-weight: bold;
}



/* slc: single line comment
com: multiline comment */
.hl.slc, .hl.com { color: #999999; }

/* TODO CHANGE COLORS AFTER THIS! */

/* num: number */
.hl.num { color: #f2777a; } 

/* str: string 
pps: preprocessor string */
.hl.str, .hl.pps { color: #cc99cc; }

/* opt: operator
ppc: preprocessor */
.hl.opt, .hl.ppc  { color:#f99157; }

/* esc: escape character */
.hl.esc { color: #66cccc; }

/* kwX: keyword group X (X: a..z) */
.hl.kwa { color:#6699cc; font-weight: bold;}
.hl.kwb { color:#ffcc66; font-weight: bold;}
.hl.kwc { color:#99cc99; font-weight: bold;}
.hl.kwd { color:#3e999f; font-weight: bold;}

/* Do these ever get used? Not in the andre-simon.de docs. */
/* ipl: interpolation */
/* lin: ??? */
.hl.ipl { color:#545454; }
.hl.lin { color:#545454; }


.hl-emphasis {
  font-style: italic;
}

.hl-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hl {
        color: highlight;
    }
}